<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
	<!-- <add name="WF_HealthTracker" connectionString="Data Source=DUCANH;Initial Catalog=WF_HealthTracker;User ID=sa;Password=long2005;TrustServerCertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /> -->
		<!--
		Option 1: SQL Authentication (nếu password đúng)
		<add name="WF_HealthTracker"
		     connectionString="data source=DESKTOP-BSBAAI0\SQLEXPRESS;initial catalog=WF_HealthTracker;user id=sa;password=Long2005;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework"
		     providerName="System.Data.SqlClient" />
		
		Option 2: Windows Authentication (khuyến nghị - không cần password)
		-->
		<!-- <add name="WF_HealthTracker" connectionString="data source=DESKTOP-BSBAAI0\SQLEXPRESS;initial catalog=WF_HealthTracker;user id=sa;password=nhan123;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /> -->
		<!-- <add name="WF_HealthTracker" connectionString="data source=DESKTOP-NQ058RL\SQLEXPRESS;initial catalog=WF_HealthTracker;user id=sa;password=long2005;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /> -->
		<!-- Connection string với Windows Authentication -->
		<add name="WF_HealthTracker" connectionString="data source=DESKTOP-QH7JC2G\LOC1109;initial catalog=WF_HealthTracker;Integrated Security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		
		<!-- Nếu cần dùng SQL Server Authentication, uncomment dòng dưới và comment dòng trên, điền username/password -->
		<!-- <add name="WF_HealthTracker" connectionString="data source=DESKTOP-QH7JC2G\LOC1109;initial catalog=WF_HealthTracker;user id=YOUR_USERNAME;password=YOUR_PASSWORD;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- ChatGPT API Key -->
		<add key="ChatGPTApiKey" value="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" />
		
		<!-- MoMo Payment Configuration -->
		<add key="MoMo_PartnerCode" value="MOMO" />
		<add key="MoMo_AccessKey" value="F8BBA842ECF85" />
		<add key="MoMo_SecretKey" value="K951B6PE1waDMi640xX08PD3vg6EkVlz" />
		<add key="MoMo_ApiEndpoint" value="https://test-payment.momo.vn/v2/gateway/api/create" />
		
		<!-- ZaloPay Payment Configuration -->
		<add key="ZaloPay_AppId" value="554" />
		<add key="ZaloPay_Key1" value="8NdU5pG5R2spGHGhyO99HN1OhD8IQJBn" />
		<add key="ZaloPay_Key2" value="uUfsWgfLkRLzq6W2uNXTCxrfxs51auny" />
		<add key="ZaloPay_AppUser" value="HealthWeb" />
		<add key="ZaloPay_ApiEndpoint" value="https://sb-openapi.zalopay.vn/v2/create" />
	</appSettings>
</configuration>
